flows (1).json
[{"id":"93d5185f.bfe8f8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"95b092d7.0d166","type":"ibmiot in","z":"93d5185f.bfe8f8","authentication":"apiKey","apiKey":"b12ae7a2.c1bf68","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":250,"y":280,"wires":[["8b7e3539.bfe368"]]},{"id":"8b7e3539.bfe368","type":"ui_template","z":"93d5185f.bfe8f8","group":"cb99f725.5ada38","name":"","order":7,"width":"0","height":"0","format":"<style>\n    .r1{\n        background-color:dodgerblue;\n        color:white;\n        padding:10px 10px;\n\t    border-radius:10px;\n    }\n    .a1{\n        background-color:mediumseagreen;\n        color:white;\n        padding:10px 10px;\n\t    border-radius:10px;\n    }\n    .a2{\n        background-color:red;\n        color:white;\n        padding:10px 10px;\n\t    border-radius:10px;\n    }\n</style>\n<script>\n    function allow(){\n        window.speechSynthesis.speak(new SpeechSynthesisUtterance(\"Allow\"));\n    }\n    function alert(){\n        window.speechSynthesis.speak(new SpeechSynthesisUtterance(\"Alert\"));\n    }\n</script>\n<div ng-bind-html=\"msg.payload\"></div>\n\n<div id=\"i1\">\n<img src=\"https://ramachandrasai.s3.jp-tok.cloud-object-storage.appdomain.cloud/facepic.jpg\"width=\"240\" height=\"320\"/>\n</div>\n<div>\n<button type=\"button\" class=\"r1\" onClick=\"history.go(0);\">Refresh</button>\n\n</div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":460,"y":280,"wires":[["cdb847b3.5f8a68"]]},{"id":"cdb847b3.5f8a68","type":"debug","z":"93d5185f.bfe8f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":280,"wires":[]},{"id":"739aca0e.83e2f4","type":"ui_button","z":"93d5185f.bfe8f8","name":"Allow","group":"cb99f725.5ada38","order":3,"width":0,"height":0,"passthru":false,"label":"Allow","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"allow\"}","payloadType":"json","topic":"topic","topicType":"msg","x":330,"y":420,"wires":[["9daac873.b00c78","d21a4d30.7a3cd"]]},{"id":"d7968bed.bceb28","type":"ui_button","z":"93d5185f.bfe8f8","name":"Alert","group":"cb99f725.5ada38","order":4,"width":0,"height":0,"passthru":false,"label":"Alert","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"alert\"}","payloadType":"json","topic":"topic","topicType":"msg","x":330,"y":500,"wires":[["9daac873.b00c78","d21a4d30.7a3cd"]]},{"id":"9daac873.b00c78","type":"debug","z":"93d5185f.bfe8f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":500,"wires":[]},{"id":"d21a4d30.7a3cd","type":"ibmiot out","z":"93d5185f.bfe8f8","authentication":"apiKey","apiKey":"b12ae7a2.c1bf68","outputType":"cmd","deviceId":"1001","deviceType":"iotdevice","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":600,"y":420,"wires":[]},{"id":"9a469c4.6a9656","type":"http in","z":"93d5185f.bfe8f8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":270,"y":360,"wires":[["2d02a41e.229c9c"]]},{"id":"2d02a41e.229c9c","type":"http response","z":"93d5185f.bfe8f8","name":"","statusCode":"","headers":{},"x":610,"y":360,"wires":[]},{"id":"b12ae7a2.c1bf68","type":"ibmiot","name":"iotdata","keepalive":"60","serverName":"4yerxq.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"cb99f725.5ada38","type":"ui_group","name":"Default","tab":"52191112.dd7be","order":1,"disp":true,"width":"6","collapse":false},{"id":"52191112.dd7be","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]